<div class="section  ">
    <div class="container ">
        <nav class="level animated fadeIn ">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title is-2"> {{movie.title}} </h1>
                </div>
                <div class="level-item">
                    <h1 class="title is-2"> ( {{movie.release_date | date: 'yyyy' }} ) </h1>
                </div>
            </div>
            <div class="level-right is-hidden-mobile">
                <div class="level-item">
                    <a (click)="getBack()" class="button is-danger is-outlined">Back</a>
                </div>
            </div>
        </nav>
        <hr>
        <div class="tile is-ancestor">
            <div class="tile is-parent animated zoomIn ">
                <article class="tile is-child box">
                    <figure class="image  is-4by5">
                        <img [src]="movie.poster_path | noimages">
                    </figure>
                </article>
            </div>
            <div class="tile is-parent is-7 animated fadeIn">
                <article class="tile is-child box">
                    <p class="title">Overview</p>
                    <div class="content">
                        <p>{{movie.overview}}.</p>
                        <h3>Tagline : </h3>
                        <blockquote>"{{movie.tagline}}."</blockquote>
                        <h3>Genres :</h3>
                        <div class="tags">
                            <span class="tag is-rounded is-info" *ngFor="let genre of movie.genres">{{genre.name}}</span>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="content">
                                <h3>Languages :</h3>
                                <div class="tags">
                                    <span class="tag is-rounded is-primary" *ngFor="let language of movie.spoken_languages">{{language.name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="content">
                                <h3>Countries :</h3>
                                <div class="tags">
                                    <span class="tag is-rounded is-warning" *ngFor="let countries of movie.production_countries">{{countries.name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>