<div class="section  ">
    <div class="container ">

        <app-movie-carousel [movies]='moviesEstreno' title='New Movies Releases in Theaters'></app-movie-carousel>

    </div>

</div>

<div class="section">

    <div class="container ">

        <app-movie-carousel [movies]='moviesPopular' title="The Most Popular Movies"></app-movie-carousel>

    </div>

</div>

<div class="section">

    <div class="container ">

        <app-movie-carousel [movies]='moviesKids' title="The Most Popular Kids Movies"></app-movie-carousel>

    </div>

</div>